# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env
# Virtual environment
.venv/
venv


# Django-related files
db.sqlite3


**/migrations/*.py
!**/migrations/__init__.py

# Frontend build & deps
/frontend/node_modules/
/frontend/dist/
.env